:root {
  --primary-color: #6c63ff;
  --secondary-color: #f9f7fd;
  --heading-font: "Playfair Display", serif;
  --default-font: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font);
  font-weight: 400;
}
p {
  font-size: 16px;
  line-height: 30px;
}
h1 {
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: 96px;
  line-height: 1.5;
}

.hero h2 {
  font-family: var(--default-font);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 120px 60px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.btn-branding {
  color: white;
  background-color: var(--primary-color);
  font-size: 18px;
  font-weight: 500;
  padding: 15px 30px;
}
.btn-branding-outline {
  padding: 15px 30px;
  color: var(--primary-color);
  font-size: 18px;
  border: 1px solid var(--primary-color);
}
h2 {
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: 64px;
  line-height: 1.5;
}

.project-description {
  padding: 120px 60px;
}

.content {
  padding: 80px;
}
.content h1 {
  font-size: 64px;
  line-height: 1.2;
}
.content h2 {
  font-size: 18px;
  font-family: var(--default-font);
}
.content-inner {
  padding: 30px;
}
@media (max-width: 800px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 44px;
  }

  .hero p {
    font-size: 28px;
  }
  .hero {
    padding: 60px 30px;
  }
  .content h1 {
    font-size: 48px;
  }
  .content {
    text-align: center;
    padding: 0;
  }
}
